# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages

# Generated code (Freezed, json_serializable, etc.)
*.g.dart
*.freezed.dart
*.gr.dart
*.mocks.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/key.properties
/android/*.keystore
/android/*.jks
*.apk
*.aab

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/engine/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
*.ipa

# macOS
/macos/Pods/
/macos/.symlinks/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake

# Linux
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake

# Coverage
coverage/
*.lcov

# Exceptions
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
